ETCD_NAME="{{ etcd_name }}"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ etcd_host }}:2379"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ etcd_host }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_password }}"
ETCD_INITIAL_CLUSTER="{{ etcd_name_main }}=http://{{ etcd_host_main }}:2380,{{ etcd_name_second }}=http://{{ etcd_host_second }}:2380,{{ etcd_name_third }}=http://{{ etcd_host_third }}:2380"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_HEARTBEAT_INTERVAL="1000"
